.header {
    border-bottom: 1px solid #e7e9fc;
    background-color: #ffffff;
}

.header-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    font-family: Raleway, sans-serif;
    margin-right: 76px;
    font-size: 18px;
    font-weight: 700;
    color: #4d5ae5;
}

.logo-studio {
    color: #2E2F42;
}

.header-nav {
    margin-right: auto;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-list a {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #2e2f42;
}

.nav-list a:hover {
    color: #404bbf;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-list a {
    font-size: 14px;
    font-style: normal;
    color: #434455;
}

.contacts-list a:hover {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}