.team {
    padding: 120px 0;
    background-color: #f4f4fd;
}

.team-header {
    margin-bottom: 72px;

    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-card {
    width: calc((100% - 72px) / 4);

    background-color: #ffffff;
    border-radius: 0 0 4px 4px;

    overflow: hidden;
    box-shadow:
        0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);
}

.team-card-image {
    width: 100%;
}

.team-card-content {
    padding: 32px 16px;
    text-align: center;
}

.team-card-title {
    margin-bottom: 8px;

    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
}

.team-card-text {
    font-size: 14px;
    line-height: 1.5;
    color: #434455;
}